<a href="https://colab.research.google.com/github/pperr007/pperr007/blob/main/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#4-1

pizzas = ['white pizza','pepperoni pizza','pineapple pizza']

for pizza in pizzas:
  print(pizza)
for pizza in pizzas:
  print(f'I like {pizza}')
for pizza in pizzas:
  if pizza == 'pineapple pizza':
    print(f"I don't like {pizza}")
    continue
  print(f'I like {pizza}')

white pizza
pepperoni pizza
pineapple pizza
I like white pizza
I like pepperoni pizza
I like pineapple pizza
I like white pizza
I like pepperoni pizza
I don't like pineapple pizza

In [13]:
#4-2

animals = ['cheetah','mountain lions','leopards']
for animal in animals:
  print(animal)
print(f'{animals[0]} is a large cat that lives in the savanna.')
print(f'{animals[1]} are not nice pets.')
print(f'{animals[2]} are endangered.')

print(f'These animals are not good pets.')

cheetah
mountain lions
leopards
cheetah is a large cat that lives in the savanna.
mountain lions are not nice pets.
leopards are endangered.
These animals are not good pets.

In [16]:
#4-3

for number in range(1,21):
  print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#4-4
list = range(1,1000001)
for number in list:
  print(number)

In [20]:
#4-5

list = range(1,1000001)
print(min(list))
print(max(list))
print(sum(list))

1
1000000
500000500000

In [23]:
#4-6

list = range(1,21,2)
for number in list:
  print(number)

1
3
5
7
9
11
13
15
17
19

In [25]:
#4-7

list = range(3,31,3)
for number in list:
  print(number)

3
6
9
12
15
18
21
24
27
30

In [27]:
#4-8

list = range(1,11)
for number in list:
  print(number**3)

1
8
27
64
125
216
343
512
729
1000

In [31]:
#4-9

list = [number**3 for number in range(1,11)]
print(list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [35]:
#4-10

list = [number**3 for number in range(1,11)]
list[:3]
print(f'The first three numbers of the list are: {list[:3]}')
print(f'The middle three numbers of the list are: {list[len(list)//2-1:len(list)//2+2]}')
print(f'The last three numbers of the list are: {list[-3:]}')

The first three numbers of the list are: [1, 8, 27]
The middle three numbers of the list are: [125, 216, 343]
The last three numbers of the list are: [512, 729, 1000]