<a href="https://colab.research.google.com/github/pperr007/pperr007/blob/main/class_2_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#review
#Saving Colabs to GitHub
#Include link to colab

#announcement
#late assignments

In [2]:
%%file patcode.py
print('Hey I\'m importing!')

v1=123
def f1(x):
  return x*3

Overwriting patcode.py

In [3]:
import patcode

print(patcode.v1)
print(patcode.f1(10))

Hey I'm importing!
123
30

In [4]:
# Dictionaries

d1 = {'ned': 518, 'alex':802, 'jeff':617}

In [5]:
print(type(d1))

<class 'dict'>

In [6]:
print(d1['ned'])

518

In [7]:
d1['ned'] = [518, 61]

print(d1)

{'ned': [518, 61], 'alex': 802, 'jeff': 617}

In [8]:
d1['alex'] = [802, 31]
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [9]:
d1['fred'] = [518, 120]
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120]}

In [10]:
print(d1['nancy'])

KeyError: 'nancy'

In [11]:
print(d1.keys())

dict_keys(['ned', 'alex', 'jeff', 'fred'])

In [12]:
print(d1.values())

dict_values([[518, 61], [802, 31], 617, [518, 120]])

In [13]:
d1[3] = 1234
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 1234}

In [14]:
d1['3'] = 5678
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 1234, '3': 5678}

In [15]:
print(d1.keys())

dict_keys(['ned', 'alex', 'jeff', 'fred', 3, '3'])

In [18]:
print(d1[3])

print(d1['3'])

1234
5678

In [20]:
d1[12.5] = 'I AM A FLOAT'
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 1234, '3': 5678, 12.5: 'I AM A FLOAT'}

In [24]:
print(d1[12.5])
print(d1[12.50001])

I AM A FLOAT

KeyError: 12.50001

In [26]:
# remove something
del d1['fred']
print(d1)

KeyError: 'fred'

In [27]:
# the value of get

value = d1['fred']

KeyError: 'fred'

In [30]:
# the value of get

value = d1.get('fred', "that was missing!")
print(value)

that was missing!

In [32]:
value = d1.get('ned', "that was missing!")
print(value)

[518, 61]

In [36]:
#looping
for x in d1.values():
  print(f'{x=}')

x=[518, 61]
x=[802, 31]
x=617
x=1234
x=5678
x='I AM A FLOAT'

In [37]:
#looping
for x in d1:
  print(f'{x=}')

x='ned'
x='alex'
x='jeff'
x=3
x='3'
x=12.5

In [39]:
#looping
for x in sorted(d1.keys()):
  print(f'{x=}')

TypeError: '<' not supported between instances of 'int' and 'str'

In [40]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 1234, '3': 5678, 12.5: 'I AM A FLOAT'}

In [42]:
del d1[3]
del d1[12.5]
print(d1)

KeyError: 3

In [44]:
#looping
for x in sorted(d1.keys()):
  print(f'{x=}')

x='3'
x='alex'
x='jeff'
x='ned'

In [45]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, '3': 5678}

In [46]:
del d1['3']

In [47]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [48]:
d1['ted'] = {'age': 55, 'height': '5\'7"', 'area_code': 518}

In [50]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': 518}}

In [52]:
print(d1['ted']['age'])

55

In [53]:
print(d1['ted']['area_code'])

518

In [54]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': 518}}

In [55]:
d1['ted']['area_code']= [518, 802]

In [56]:
print(d1)
#{}= dictionary
#[]= list

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': [518, 802]}}

In [57]:
print(d1['ted']['area_code'][1])

802